{% extends "base.html" %}

{% block main %}
    <div class="row">
        <div class="col-md-6">
            <h2>
                Please Log In Again
            </h2>
            <br />
            <p><strong>Sorry, you've been logged out and you need to reauthenticate with Google.</strong></p>
            <br />
            <p>I know this is annoying, but <strong>for your account security</strong>, we do not store any data.  As a result, we are unable to access your gmail data again without you explicitly authorizing it.</p>
            <br />
            <a href="/" class="btn btn-primary">Go Back To The Home Page To Log Back In</a>
        </div><!-- row -->
        <div class="col-md-6">
        </div><!-- col-md-6 -->
    </div><!-- row -->
{% endblock %}

